<form method="POST" action="?c=plugin&a=board_todo_insert" onsubmit="return board_batch_add_todo(<?php echo intval(v('list_id'))?>)" id="board_batch_add_todo_form">
	<textarea placeholder="a TODO per line，use @ to assign，the default is assgining to self. Example：update demo @Easy" id="todo_batch_add_input" name="todos" class="span5"></textarea><br />
	<input type="hidden" name="board_id" value="<?php echo intval(v('board_id'))?>" />
	<input type="hidden" name="list_id" value="<?php echo intval(v('list_id'))?>" />
	<input class="button" type="submit" value="Add" />
	<br />
	<br />
	<?php 
	if('private'==v('visible')) echo '<span class="help-inline">This is a private kanban, all TODO added here is private by default.，Add # at the end of the TODO iteam to make it public</span>';		
	?>
</form>
